body {
    background-color: #e2e1e1fe;
}

aside {
    display: block;
    background: #f0f0f0;
    padding: 2px;
    width: 12rem;
    float: left;
    position: fixed;
    height: 100%;
    padding: 1rem;
}

main {
    margin-left: 12rem;
    padding: 1rem;
}

.heder_main {
    margin-left: 1rem;
}

.flex_row1,
.flex_row2,
.flex_row3 {
    display: flex;
    flex-direction: row;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

img {
   width: 100%;
   height: 100%;
    opacity: 0.4;
}

.up_panel{
    margin: 0.5%;
    margin-top: 1%;
    height: 12vh;
    width: 25%;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.midle_panel{
    margin: 0.5%;
    margin-top: 2%;
    height: 27vh;
    width: 35%;
    background-color: white;
    box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.down_panel{
    margin: 0.5%;
    margin-top: 2%;
    height: 33vh;
    width: 50%;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.image_up {
    margin: 2%;
    margin-top: -3%;
    height: 50%;
    width: 15%;
    float: left;
    /* height="90vh" width="320vw" */
}

.image_midle {
    margin: 2%;
    margin-top: -3%;
    height: 55%;
    width: 95%;
    align-content: center;
    background-color: blue;
}

.image_down {
    margin: 1.5%;
    margin-top: -2%;
    height: 25%;
    width: 97%;
}

.sub_panel{
    text-align: right; 
    padding: 2%;
}

.line_footer {
    display: flex;
    justify-content: space-between;
}

.border_footer {
    border-bottom: 1px solid gray;
    text-align: center;
}

.border_down {
    margin:1%;
    border-bottom: 1px solid gray;
    text-align: center;
}

.border_none {
    margin: 1%;;
    padding-bottom: 1%;
}

.border_up {
    margin:1%;
    border-top: 1px solid gray;
    text-align: center;
}

.border_top {
    border-top: 1px solid gray;
}

.border_right {
    border-right: 1px solid gray;
}

.border {
    margin-top: 0px;
}

button{
    background-color: transparent;
    border: none;
    color: white;
}

.display_left_tabl{
    display:inline;
    text-align: left;
    width: 85%;
    margin: 1%;
}

.display_left_tabl_icon{
    display:inline; 
    align-items: center;
}

.display_right_tabl_head{
    display:inline; 
    text-align: left; 
    width: 25%; 
    margin: 1%;
}

.display_right_tabl{
    display:inline; 
    text-align: left; 
    width: 25%; 
    margin-left: 1%;
}

.display_mini_icon{
    font-size:xx-small; 
    text-align: left; 
    padding: 1%;
}

input{
    text-align: left;
}

.mouse li:hover {
    background: crimson;
    color: black;
}

aside li {
    text-align: center;
    height: 30px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.up_panel li, .midle_panel li{
    list-style: none;
}

ul li {
    display: inline;
    margin: 1rem;
}

ul li a {
    text-decoration: none;
    color: black;
}

footer p {
    text-align: left;
    height: 25px;
    padding: 0px;
    margin: 0px;
}

footer {
    display: block;
    margin-left: 11rem;
    padding-right: 2%;
}

.tri_poloski {
    color: black;
}

.menu {
    display: flex;
    justify-content: left;
}

.tabl{
    display: grid;
    justify-content: start;
    grid-template-columns: 200px auto 100px;
    grid-template-rows: 200px auto 100px;
}

@media screen and (min-width:1000px) {
    .tri_poloski {
        display: none;
    }
}

@media screen and (min-width:800px) and (max-width:1000px) {

    .up_panel{ 
        margin: 1%;
        margin-top: 2%;
        height: 14vh;
        width: 48%;
    }
    
    .midle_panel {
        height: 25vh;
        width: 35%;
    }

    .down_panel {
        height: 36vh;
        width: 100%;
        margin-top: 3%;
    }

    .image_midle {
        height: 35%;
    }

    .tri_poloski {
        display: none;
    }

    .flex_row1,
    .flex_row3 {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (min-width:650px) and (max-width:800px) {

    .up_panel {
        margin-top: 2%;
        height: 14vh;
        width: 48%;
    }

    .midle_panel {
        margin-top: 3%;
        height: 26vh;
        width: 35%;
    }

    .down_panel {
        margin-top: 3%;
        height: 36vh;
        width: 100%;
    }

    .flex_row1,
    .flex_row3 {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    aside {
        display: none;
    }

    main {
        margin-left: 0rem;
    }

    footer {
        margin-left: 0rem;
    }
}

@media screen and (min-width:500px) and (max-width:650px) {

    .up_panel {
        margin-top: 3%;
        height: 14vh;
        width: 48%;
    }

    .midle_panel {
        margin-top: 5%;
        height: 29vh;
        width: 100%;    
    }

    .down_panel {
        margin-top: 5%;
        height: 36vh;
        width: 100%;
    }

    .flex_row1,
    .flex_row2,
    .flex_row3 {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    aside {
        display: none;
    }

    main {
        margin-left: 0rem;
    }

    footer {
        margin-left: 0rem;
    }
}

@media screen and (max-width:550px) {

    .up_panel {
        margin-top: 4%;
        height: 14vh;
        width: 100%;
    }

    .midle_panel {
        margin-top: 5%;
        height: 29vh;
        width: 100%;
    }

    .down_panel {
        margin-top: 5%;
        height: 36vh;
        width: 100%;
    }

    .flex_row1,
    .flex_row2,
    .flex_row3 {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    aside {
        display: none;
    }

    main {
        margin-left: 0rem;
    }

    footer {
        margin-left: 0rem;
    }
}