:root{
    --color-for-select:#EE82EE;
    --color-mistake: red;
    --color-main-cell: white;
    --color-winner: #98FB98;
    --color-text-winner: #23b423;
    --color-text-mistake: rgb(225, 27, 27);
    --color-button:#ed5bed;
    --color-shadow-button:#f8b7f8;
}

.settingsBlock{
    width: 98%;
    display: flex;
    justify-content: center;
    
    text-align: center;
    margin: 10px;
}

.topSettingsBlock{
    width: 320px;
    display: grid;
    gap: 7px;
    grid-template-columns: 40% 40% 20%;
}

.bottomSettingsBlock{
    width: 320px;
    display: grid;
    grid-template-columns: 50% 20% 20%;
    text-align: center;
}

button{
    width: fit-content;
    border: 0px;
    border-radius: 5px;
    color: white;
    background-color: var(--color-button);
    box-shadow: 0px 0px 1px 3px var(--color-shadow-button);
}

input[type='range']{
    accent-color: var(--color-button); 
}

.containerForCenterBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBlock {
    display: block; 
}

.containerSudoku {
    display: inline-flex;
    flex-direction: column;
    margin-top: 20px;
    border: 5px solid black;
}

.row {
    display: flex;
}

.row_2 {
    display: flex;
    border-top: 5px solid black;
}

.cell {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cell_2 {
    width: 35px;
    height: 35px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 5px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 35px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cell_number_block {
    display: inline-grid;
    margin-top: 20px;
    margin-left: 5px;
}

.cell_number_top {
    width: 30px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    line-height: 20px;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cell_number_bottom {
    width: 30px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--color-for-select);
}

.winner_text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 700;
}
